@mixin block($color) {
  display: block;
  border-radius: 12px;
  padding: 0 15px;
  border: 2px solid $color;
  margin-bottom: 10px;
}

.wrapper {
  @include block(transparent)
}

.active {
  @include block(#eaeaea);
  background: #fff;
}

.btn {
  display: flex;
  align-items: center;

  height: 50px;
}