.card {
  position: relative;
  height: 190px;
  background: #fff;
  border-radius: 12px;
  border: 2px solid #eaeaea;
  padding: 15px 20px;
  color: #8a8a8a;
  cursor: pointer;
  .title {
    margin-top: 17px;
    font-size: 20px;
    font-weight: 700;
    color: #464646;
    line-height: normal;
  }
  .absolute {
    width: 86%;
    position: absolute;
    bottom: 0;
    .wrapper {
      display: flex;
      margin-bottom: 15px;
      justify-content: space-between;
      .views {
        display: flex;
        align-items: center;
        p {
          margin-left: 5px;
          font-size: 12px;
        }
      }
    }
  }
}
