.card {
  height: auto;
  margin-bottom: 30px;
  background: #fff;
  border-radius: 12px;
  border: 2px solid #eaeaea;
  .profile {
    font-size: 24px;
    border-bottom: 1px solid #e6e7e7;
    padding: 15px 0 15px 0;
    p {
      margin-left: 23px;
    }
  }
  .info {
    width: 95%;
    margin: 25px auto;
    .wrapper {
      margin-top: 25px;
    }
    input {
      width: 80%;
      margin-top: 10px;
      padding: 10px 20px;
      background-color: #eeeeee;
      border-radius: 8px;
    }
  }
  .btnWrapper {
    display: flex;
    button {
      background-color: #bde9ff;
      padding: 10px 20px;
      border-radius: 8px;
      font: inherit;
      font-weight: 500;
      color: #0084c5;
      border: none;
      cursor: pointer;
      margin: 10px 0 20px 20px;
    };
    .exit{
      color: rgb(255, 237, 237);
      background-color: #E50104;
    }
  }
}
