.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;

  .login {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img {
      width: 20px;
      height: 24px;
      margin: 10px;
    }
  }
}
