.filter {
    display: flex;
    height: 54px;
    width: 120px;
    background: #fff;
    border-radius: 12px;
    border: 2px solid #eaeaea;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    p{
      margin-top: 2px;
      margin-left: 10px;
    }
    img {
     width: 23px;
      }
  }