.navbar {
  width: 190px;
  font-weight: 500;
  .wrapper {
    display: flex;
    align-items: center;
    border-radius: 12px;
    padding: 0 15px;
    height: 50px;
    width: 100%;
    margin-bottom: 10px;

    p {
      margin-left: 20px;
    }
  }
  .active {
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 12px;
    border: 2px solid #eaeaea;
    p {
      margin-left: 20px;
    }
  }
}
