.filters {
  display: flex;
  width: 920px;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  margin-bottom: 30px;
  .wrapper {
    height: 54px;
    display: flex;
    column-gap: 40px;
  }
}
