.wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  .video {
    text-align: center;
    width: 920px;
    p {
      font-size: 28px;
      margin: 50px 0;
    }
    img {
      width: 400px;
    }
  }
}
