.logo {
    width: 190px;
    .wrapper {
      max-width: 150px;
      padding: 10px 10px;
      background-color: #00acff;
      border-radius: 8px;
      text-align: center;
      p {
        color: #fff;
        font-size: 36px;
        font-weight: 700;
      }
    }
  }